name: E2EAPIAutomationtest

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: read
      checks: write
      issues: write
      
    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven
        
    - name: Execute Test
      run: mvn clean test -Dsuite=testSuites/Suite

    - name: Upload Test Results
      if: always()
      uses: actions/upload-artifact@v5.0.0
      with:
        name: Logs
        path: logs/

    - name: Publish Test Report
      if: always()
      uses: dorny/test-reporter@v1.9.1
      with:
        name: TestNG Results
        path: target/surefire-reports/junitreports/TEST-*.xml
        reporter: java-junit
      
